{% extends "base.html" %}

{% block title %}Список постов{% endblock title %}
{% block header %}Список постов{% endblock header %}

{% block content %}

<a href="{% url 'post_new' %}">Создать пост</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Название</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
  {% for post in post_list %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{post.name}}</td>
      <td>
        <div class="d-flex gap-1">
          <a href="{{ post.get_absolute_url }}" class="btn btn-success btn-sm">Обновить</a>
          <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger btn-sm">Удалить</a>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
